.cartitem{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
    border-bottom: 1px solid rgb(175, 175, 175);
}


.cartitem>img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.cartitem-info{
    margin-left: 30px;
}

.cartitem-info>div{
    display: flex;
    /* margin-top:10px; */
}

.cartitem-info>div>button{
    margin:20px 10px 0 0;
}



@media(max-width:500px){
   .cartitem{
      flex-direction: column;
   }
   .cartitem>img{
      margin: 0px auto ;  
   } 
   .remove-btn{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
   }
   .cartitem-info>div>button{
    margin:20px 10px 20px 0;
   }
}

@media(max-width:315px){
    .cartitem-info{
        margin-left: 20px;
    }
}

@media(max-width:280px){
    .cartitem-info{
        margin-left: 10px;
    }
}
